<div class='main'>
  <div class='start-order'> 
    <span class='start-order-header'>注文する</span>
    <span class='start-order-text'>材料を確認するために注文を開始する</span>
    <div class='order-button'>
      <a href="" class='wood-button'>
        <span>木材</span>
        <%= image_tag "house1.png", class:"house-icon" %>
      </a>
      <a href="" class='adhesive-button'>
        <span>接着剤</span>
        <%= image_tag "house1.png", class:"house-icon" %>
      </a>
      <a href="" class='wall-button'>
        <span>壁材</span>
        <%= image_tag "house1.png", class:"house-icon" %>
      </a>
    </div>
  </div>
  <div class="slide" id="makeImg">
    <%= image_tag "wood.jpg", class:"wood" %>
    <%= image_tag "type.jpg", class:"wood" %>
    <%= image_tag "wooden.jpg", class:"wood" %>
  </div>
</div>
