<!DOCTYPE html>
<html>
  <head>
    <title>Material</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='top-page-header'>
    <div class='search-bar-contents'>
      <%= link_to "Material", "/" %>
    </div>
    <div class='nav'>
      <ul class='lists-right'>
      <%# <% if user_signed_in? %> 
        <%# <li><%= link_to '山田です', "#", class: "user-nickname" %> 
        <%# <li><%= link_to 'ログアウト', "#", class: "logout" %>  
      <%# <% else %> 
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
        <li><%= link_to 'カテゴリー', "#", class: "category" %></li>
      <%# <% end %> 
      </ul>
    </div>
    </header>
    <%= yield %>
    <footer>
    ©️ MATERIAL
    </footer>
  </body>
</html>
